h1 {
    background-color: #43144c;
    color: white;
    margin-top: 0;
    padding: 10px;
    margin: 0;
}

h2 {
    background-color: #671E75;
    color: white;
    margin-top: 0px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

img {
    max-width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
}

body {
    margin: 0;
    padding: 0;
}

.BodyText {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    margin-bottom: 70px;
}

.BodyText li {
    font-weight: bold;
}

* {
    font-family: "Helvetica neue", Helvetica, Arial, serif;
    font-weight: 500;
}

.footer {
    background-color: #671E75;
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer li {
    float: left;
}

.footer li a {
    display: inline-block;
    color: white;
    list-style: none;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    margin: 0;
}

.footer a.Current {
    background-color: #43144c;
}

.NextPages {
  background-color: #671E75;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.NextPages li {
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.NextPages li a {
  color: white;
  padding: 15px;
  list-style: none;
  text-align: center;
}
